body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(http://giphygifs.s3.amazonaws.com/media/tQgB6lM6XCle8/giphy.gif);
  background-size: cover;
  background-attachment: fixed;
}
.box{
  width: 300px;
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url(http://66.media.tumblr.com/9509e25a0d3522d841c916d67f78ff23/tumblr_npkrfdW4t71tqou9go1_500.gif);
  background-size:cover;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: grey;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: green;
}